@charset "UTF-8";
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    width: 400px;
    height: 200px;

}
h1 {
    color: #000000;
    text-align: center;
}
.affiliation {
    color: #696969;
}
